
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

Dockerfile.local
.vscode/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
terraform.tfstate.backup
.terraform.lock.hcl
crash.log
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Ansible
*.retry
ansible/*.retry
ansible/inventory.ini
ansible/*.log
*.log


ansible/README.MD

#k8

k8s/ingess-monitoring.yaml
k8s/ingess.yaml

